.header {
  margin-bottom: 50px;

  @media (max-width: 992px) {
    margin-bottom: 15px;
  };

  &__top {
    @include flex(space-between, 0);
  }

  &__top-logo {
    margin-right: 15px;

    @media (max-width: 992px) {
      width: 60px;
      margin: 0;
    };
  }

  &__menu {
    transition: all .3s;

    @media (max-width: 992px) {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: -100%;
      z-index: 3;
      background-color: $white;
    };

    &--active {
      right: 0;
    }
  }

  &__menu-btns {
    display: none;
    height: 55px;
    background-color: $green;
    margin-bottom: 20px;

    &--active {
      @include flex(flex-end, 10px);
      padding-right: 25px;

      @media (max-width: 555px) {
        padding-right: 11px;
      }
    }

    a:nth-child(4) {
      margin-right: 10px;
    }

    a:nth-child(3) {
      img {
        width: 30px;
      }
    }

    img {
      width: 25px;
    }
  }

  &__menu-burger {
    display: none;
    width: 25px;
    cursor: pointer;

    @media (max-width: 992px) {
      display: block;
    };

    span + span {
      margin-top: 4px;
    }
  }

  &__menu-burger-line {
    display: block;
    height: 3px;
    border-radius: 10px;
    background-color: $dark;

    &--white {
      background-color: $white;

      &:first-child {
        transform: rotate(45deg) translate(0, 5px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(0, -5px);
      }
    }
  }

  &__menu-btns-search {
    display: none;
    width: 40%;

    input {
      width: 100%;
      height: 30px;
      padding-left: 10px;
      border-radius: 10px;
    }
  }

  &__menu-list {
    @include flex($gap: 40px);

    @media (max-width: 992px) {
      width: 140px;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      margin-left: 20px;
    };
  }

  &__catalog-mobile {
    display: none;

    &--active {
      display: block;
      font-size: 20px;
      font-weight: 500;
      text-align: start;

      &:hover {
        color: $dark;
      }
    }

    &--margin-bottom {
      margin-bottom: 300px;
    }
  }

  &__catalog-list-mobile {
    display: none;
    max-width: 170px;
    width: 100%;
    position: absolute;
    top: 105px;
    left: 10px;
    padding: 20px 10px;
    background-color: $white;

    &--active {
      display: block;
    }
  }

  &__catalog-list-mobile-item {
    font-size: 18px;
    text-align: start;
    padding-bottom: 10px;
    border-bottom: 1px solid $blue;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__catalog-list-mobile-item-link {
    @include flex(space-between, 0);

    img {
      transform: rotate(-90deg);
      padding-right: 5px;
    }
  }

  &__menu-list-item {
    transition: all .2s;

    &:hover {
      color: $green-2;
    }

    &--active {
      display: block;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__menu-call {
    display: none;
    width: 115px;
    font-weight: 600;
    margin: 40px 0 25px 20px;

    a + a {
      margin-top: 10px;
    }
  }

  &__menu-social-media {
    display: none;
    width: 85px;
    margin-left: 15px;

    a {
      width: 40px;
    }

    &--active {
      @include flex($gap: 10px);
    }
  }

  &__top-btns {
    @include flex($gap: 30px);
    margin-left: 15px;

    @media (max-width: 992px) {
      gap: 20px;

      a:first-child {
        img {
          width: 25px;
        }
      }

      a:nth-child(2) {
        img {
          width: 23px;
        }
      }
    };
  }

  &__top-btns-item {
    position: relative;
    display: inline-block;
  }

  &__top-btns-item-quantity {
    @include flex(center, 0);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: $blue;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;

    @media (max-width: 992px) {
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      font-size: 12px;
    };
  }

  &__bottom-wrapper {
    background-color: $green;
  }

  &__bottom {
    @include flex(space-between, 0);
    padding: 20px 0;

    @media (max-width: 992px) {
      padding: 10px 0;
    };
  }

  &__bottom-catalog {
    @include flex(center, 10px);
    position: relative;
    width: 140px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 10px;
    background-color: $white;
    border-radius: 10px;

    @media (max-width: 992px) {
      display: none;
    };
  }

  &__bottom-catalog-text {
    color: $green;
  }

  &__bottom-catalog-burger {
    margin-top: 5px;
    width: 12px;

    span {
      display: block;
    }

    span + span {
      margin-top: 2px;
    }
  }

  &__bottom-catalog-burger-line1 {
    height: 1px;
    border-radius: 5px;
    background-color: $green;
  }

  &__bottom-catalog-burger-line2 {
    height: 1px;
    border-radius: 5px;
    background-color: $green;
  }

  &__bottom-catalog-burger-line3 {
    height: 1px;
    border-radius: 5px;
    background-color: $green;
  }

  &__bottom-catalog-list {
    display: none;
    max-width: 170px;
    width: 100%;
    position: absolute;
    top: 53px;
    left: 0;
    padding: 20px 10px;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    background-color: $white;

    &--active {
      display: block;
    }
  }

  &__bottom-catalog-list-item {
    font-size: 18px;
    text-align: start;
    padding-bottom: 10px;
    border-bottom: 1px solid $blue;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__bottom-catalog-list-item-link {
    @include flex(space-between, 0);

    img {
      transform: rotate(-90deg);
      padding-right: 5px;
    }
  }

  &__bottom-info {
    @include flex(center, 30px);
    margin-right: 10px;
    color: $white;
  }

  &__bottom-geo {
    @include flex(center, 3px);
  }

  &__bottom-info-geo-text, &__bottom-info-text {
    width: 120px;
  }

  &__bottom-info-text {

    @media (max-width: 992px) {
      display: none;
    };
  }

  &__bottom-search-bar {
    position: relative;
    max-width: 465px;
    width: 100%;
    margin-right: 10px;

    @media (max-width: 992px) {
      display: none;
    };

    img {
      position: absolute;
      top: 13px;
      left: 13px;
      width: 10px;
      height: 10px;
    }

    input {
      width: 100%;
      height: 35px;
      padding-left: 30px;
      border-radius: 10px;
      background-color: rgba(254, 254, 254, 0.3);
      color: $white;
    }
  }

  &__bottom-utility-bar {
    @include flex(space-between, 30px);
  }

  &__bottom-social-media {
    @include flex(center, 10px);
    width: 82px;
    margin-right: 10px;

    @media (max-width: 992px) {
      width: 105px;
      margin-right: 0;

      a {
        &:last-child {
          display: none;
        }
      }
    };
  }

  &__bottom-social-media-search {
    display: none;

    @media (max-width: 992px) {
      display: block;
    };
  }

  &__bottom-social-media-phone {
    display: none;

    @media (max-width: 992px) {
      display: block;
    };
  }

  &__bottom-social-phone-number {
    width: 98px;
    font-size: 14px;
    color: $white;

    @media (max-width: 992px) {
      display: none;
    };

    a + a {
      margin-top: 10px;
    }
  }
}