.favorites {
  &__inner {
  }

  &__title {
    font-size: clamp(22px, 3vw, 48px);
    margin-bottom: clamp(20px, 3vw, 40px);
  }

  &__subtitle {
    font-size: clamp(16px, 2vw, 32px);
    margin-bottom: clamp(30px, 4vw, 70px);
    opacity: .8;
  }

  &__to-home-btn {
    @include button-under-line($green);
    color: $green;
    font-size: clamp(12px, 3vw, 18px);
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 305px));
    gap: clamp(30px, 5vw, 60px) clamp(20px, 2vw, 25px);
    margin-bottom: clamp(45px, 5vw, 60px);

    @media (max-width: 992px) {
      grid-template-columns: repeat(3, minmax(0, 305px));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 305px));
      justify-content: center;
    }
  }
}