@font-face {
  font-family: "Ysabeau Infant";
  src: url("@/assets/fonts/YsabeauInfant-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Ysabeau Infant";
  src: url("@/assets/fonts/YsabeauInfant-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Ysabeau Infant";
  src: url("@/assets/fonts/YsabeauInfant-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Ysabeau Infant";
  src: url("@/assets/fonts/YsabeauInfant-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Ysabeau Infant";
  src: url("@/assets/fonts/YsabeauInfant-Bold.ttf");
  font-weight: 700;
}