$icons: '/src/assets/icons/';
$images: '/src/assets/images/';

$white: #FEFEFE;
$gray: #DFDFDF;
$blue: #E6ECF2;
$dark: #2C2E31;
$green: #79BC5E;
$green-2: #047B12;
$green-3: #E1F0DB;
$pink: #F46D93;
$pink-2: #BE2F57;
$red: #F46D6D;
$bg: #F4F7FA;