@import "reset";
@import "fonts";
@import "../components/header";
@import "../components/footer";
@import "../components/location";
@import "../pages/home";
@import "../pages/404.scss";
@import "../pages/cart";
@import "../pages/checkout";
@import "../pages/contacts";
@import "../pages/delivery";
@import "../pages/delivery-date";
@import "../pages/favorites";
@import "../pages/government";
@import "../pages/news";
@import "../pages/news-item";
@import "../pages/payment";
@import "../pages/product";

body {
  font-family: "Ysabeau Infant", sans-serif;
  background-color: $bg;
  color: $dark;
  font-size: 16px;
}

input[type="checkbox"] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px !important;
  height: 20px !important;
  border: 1px solid $green;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  appearance: none;
  -webkit-appearance: none;

  &:checked {
    background-color: $green;
    border-color: $green;

    &::before {
      content: "✓";
      position: absolute;
      color: white;
      font-size: 14px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    background-color: $green;
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding-inline: clamp(15px, 3vw, 30px);
  margin-inline: auto;
}

.delivery-banner {
  padding: clamp(10px, 3vw, 20px) 10px;
  font-size: clamp(14px, 3vw, 40px);
  font-weight: 500;
  text-align: center;
  color: $white;
  background-color: $pink;
  margin-bottom: clamp(20px, 3vw, 40px);
}

.breadcrumbs {
  margin-bottom: 20px;

  @media (max-width: 992px) {
    display: none;
  }

  &__list {
    @include flex($gap: 8px)
  }

  &__list-item {
    opacity: .5;

    a {
      display: inline;
      padding-right: 8px;
    }
  }
}

.btns {

  &__inner {
    @include flex(flex-end, 10px);
    margin: 25px 0;
  }
}

.chat-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    max-width: 630px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: clamp(15px, 3vw, 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__close {
    position: absolute;
    transform: translateY(-7px);
    right: 60px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
  }

  &__title {
    font-size: clamp(22px, 2vw, 32px);
    margin-bottom: clamp(15px, 2vw, 30px);
  }

  &__description {
    opacity: .5;
    font-size: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(10px, 1.5vw, 20px);
  }

  &__phone {

    input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $blue;
      margin-bottom: clamp(15px, 2vw, 30px);
    }
  }

  &__call {
    @include button-green(15px 10px, 100%);
    margin-bottom: 20px;
  }

  &__agreement {
    @include flex($gap: 10px);

    p {
      opacity: .5;

      a {
        display: inline;
        color: $green;
      }
    }
  }
}

.product-card-group {
  margin-bottom: clamp(60px, 10vw, 120px);

  &__title {
    font-size: clamp(20px, 2vw, 24px);
    margin-bottom: clamp(20px, 3vw, 30px);
  }

  &__inner {
    @include flex($gap: 25px);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      background: transparent;
    }

    @media (max-width: 768px) {
      gap: 10px;
    }
  }
}

.product-card {
  max-width: 305px;
  min-width: 155px;
  width: 100%;

  &:hover {

    .product-card__img-flowers {
      transform: scale(1.2);
    }

    .product-card__info-composition {
      margin-top: 20px;
      max-height: 50px;
    }
  }

  &__img {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  &__img-flowers {
    transition: transform 0.5s ease;
  }

  &__img-btn {
    @include flex(center);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    transition: all .3s;
    border-radius: 10px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("#{$icons}heart-white.svg");
    background-repeat: no-repeat;

    &:hover {
      background-image: url("#{$icons}heart-red.svg");
    }

    &--active {
      background-image: url("#{$icons}heart-red.svg");
    }
  }

  &__info {
    max-width: 290px;
    margin-bottom: clamp(10px, 3vw, 30px);
  }

  &__info-description {
    font-size: 24px;

    &--size {

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__info-composition {
    max-height: 0;
    font-size: 20px;
    opacity: .5;
    overflow: hidden;
    transition: all .3s ease;
    margin-bottom: clamp(10px, 3vw, 20px);

    &--size {

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__info-price {
    font-size: 24px;
    font-weight: 500;

    &--size {

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__btns {
    @include flex($gap: 20px);

    @media (max-width: 555px) {
      gap: 10px;
    }
  }

  &__btns-buy {
    @include button-green(15px 10px, 170px);

    @media (max-width: 885px) {
      padding: 7px 0;
      border-radius: 5px;
      color: $dark;
      border: 1px solid $green;
      background-color: transparent;
    }

    &--size {

      @media (max-width: 992px) {
        padding: 7px 0;
        border-radius: 5px;
        color: $dark;
        border: 1px solid $green;
        background-color: transparent;
      }
    }
  }

  &__btns-cart {
    min-width: 45px;
    height: 45px;

    @media (max-width: 885px) {
      max-width: 30px;
      min-width: 30px;
    }

    &--size {

      @media (max-width: 992px) {
        max-width: 30px;
        min-width: 30px;
      }
    }
  }

  &__modal {
    @include flex(center);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__modal-content {
    position: relative;
    max-width: 630px;
    width: 100%;
    padding: clamp(20px, 3vw, 40px);
    border-radius: 20px;
    background-color: $white;
  }

  &__modal-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 30px;
    opacity: .5;
  }

  &__modal-title {
    font-size: clamp(22px, 2vw, 32px);
    margin-bottom: clamp(15px, 2vw, 30px);
  }

  &__modal-info {
    @include flex(space-between, 10px);
    margin-bottom: clamp(15px, 2vw, 30px);
  }

  &__modal-info-img {

    img {
      max-width: 250px;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  &__modal-info-bouquet-quantity {
    opacity: .5;
    margin-bottom: clamp(10px, 1vw, 15px);
  }

  &__modal-info-bouquet-description {
    font-size: 18px;
  }

  &__modal-info-price {
    font-size: 18px;
    font-weight: 600;
  }

  &__modal-user-info-text {
    opacity: .5;
    font-size: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(10px, 2vw, 20px);
  }

  &__modal-user-info-number {

    input {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $blue;
      margin-bottom: clamp(15px, 2vw, 30px);
    }
  }

  &__modal-user-info-btn {
    @include button-green(15px 10px, 100%);
    margin-bottom: clamp(15px, 2vw, 25px);
  }

  &__modal-user-info-agreement {
    display: flex;
    gap: 10px;

    p {
      opacity: .5;

      a {
        display: inline;
      }
    }
  }
}

.counter {
  @include flex(center, 20px);
  width: 120px;
  height: 45px;
  border: 1px solid $blue;
  border-radius: 15px;
  margin-bottom: 10px;

  &__btn-minus {
    opacity: .5;
  }

  &__btn-plus {
    color: $pink-2;
  }
}